name: Deploy

on: [push]

jobs:
  deploy:
    if: github.ref == 'refs/heads/autodeploy'
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSHKEY }}
          script: cd ${{ secrets.PROJECTPATH }} && git pull origin master && pm2 restart bot.py
